In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [2]:
dataframe= pd.read_csv("framingham.csv")

In [3]:
dataframe.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
dataframe =dataframe.drop(['education','glucose'], axis='columns')

In [5]:
dataframe.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,0

In [6]:
mean_value=dataframe['BMI'].mean()
dataframe['BMI'].fillna(value=mean_value, inplace=True)

mean_value1=dataframe['cigsPerDay'].mean()
dataframe['cigsPerDay'].fillna(value=mean_value, inplace=True)

mean_value2=dataframe['heartRate'].mean()
dataframe['heartRate'].fillna(value=mean_value, inplace=True)

mean_value3=dataframe['BPMeds'].mean()
dataframe['BPMeds'].fillna(value=mean_value, inplace=True)

mean_value4=dataframe['totChol'].mean()
dataframe['totChol'].fillna(value=mean_value, inplace=True)

In [7]:
dataframe.isna().sum()

male               0
age                0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
TenYearCHD         0
dtype: int64

In [8]:
dataframe.columns

Index(['male', 'age', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'TenYearCHD'],
      dtype='object')

In [9]:
X = dataframe[['male', 'age', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate']]
y = dataframe['TenYearCHD']

In [10]:
X_train, x_test, y_train, y_test = train_test_split(X, y,test_size=0.20,random_state=18)

In [25]:
logreg_model = LogisticRegression(solver='lbfgs', max_iter=1000)

In [26]:
logreg_model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [27]:
y_pred = logreg_model.predict(x_test)

In [28]:
accuracy = accuracy_score(y_test,y_pred)*100
confusion_mat = confusion_matrix(y_test,y_pred)

In [29]:
print("Accuracy is",accuracy)
print("Confusion Matrix")
print(confusion_mat)

Accuracy is 85.49528301886792
Confusion Matrix
[[717   8]
 [115   8]]

In [30]:
from sklearn import metrics

In [31]:
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

Mean Absolute Error:  0.14504716981132076
Mean Squared Error: 0.14504716981132076
Root Mean Squared Error: 0.38085058725348025